body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url('img/main-background/4279652.jpg');
    background-position: center;
    object-fit: cover;
    font-family: 'the-funy-times', Arial, Helvetica, sans-serif;
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    margin: 0;
    padding-bottom: 10px;
    background: linear-gradient(45deg, #ffff00, #ffa500, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.5px rgb(161, 35, 10);
    text-align: center;
    font-size: 110px;
}

.keyboard-elements {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    background: linear-gradient(45deg, #ffff00, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.5px rgb(161, 35, 10);
    text-align: center;
    width: 720px;
    padding-top: 20px;
    

    img {
        width: 150px;
    }
}

.smart-elements {
    display: none;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 5px;

    img {
        height: 25px;
    }
}

@font-face{
    font-family: 'the-funy-times';
    src: url('fonts/the-funy-times.ttf') format('truetype'),
        
}

/* Smartphones ------------*/
/* Entferne die alten canvas Media Queries und ersetze mit: */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
        height: calc(100vw * 480 / 720);
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: calc(100vh - 50px);
        width: calc(100vh * 720 / 480);
    }
}


@media (max-width: 720px) {
    h1 {
        font-size: 50px;
    }

    .keyboard-elements{
        display: none;
    }

    .smart-elements {
    display: flex;
}
}

@media (max-height: 650px) {
    h1 {
        display: none;
    }

    .keyboard-elements {
        display: none;
    }

    .smart-elements {
    display: flex;
}
}